.authLabel {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.questionText {
	display: inline-block;
	margin-top: 7px;
}

.authBtn {
	position: relative;
	min-height: 38px;
	min-width: 70px;
}