li {
    .costItemLeft {
        display: grid;
        grid-template-columns: 77px 1fr 1fr;
        grid-gap: 8px;
        align-items: center;
    }

    .costItemRight {
        align-items: center;
        .costItemPriceInput {
            margin-right: 15px;
        }

        .btnBlockInner {
            display: flex;

            .btnSave {
                margin-right: 7px;
            }

            .btnCancel {

            }
        }

        .btnEdit {
            margin-right: 7px !important;
        }
    }
}
