.costItem {
	color: white;

	.costItemLeft {
		// color: white;

		.costDate {
			color: white;
		}
	}

	.costItemRight {
		.costDate {
			color: white;
		}

		.btnEdit {

		}

		.btnDelete {
			
		}
	}


}